body {
  min-height: calc(100vh - 100px);
  margin: 0;
  background: url(https://audreyhossepian.fr/img/logo.png),
    linear-gradient(40deg, #fc466b, #3f5efb);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  color: white;
}

table {
  font-family: "Courier New", monospace;
  border-collapse: collapse;
}
table td {
  /* structure */
  height: 2em;
  width: 2em;

  /* presentation */
  border: 1px dashed white;
  text-align: center;
}
table td.same-number {
  background-color: rgba(255, 255, 255, 0.205);
  color: white;
}
table td:hover {
  background-color: white;
  color: #fc466b;
  cursor: default;
}
